/* App.css */

.App {
  text-align: center;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Rest of your styles... */

/* Sidebar.css */

.SideBar {
  height: 100%;
  width: 300px;
  background-color: #2f4050;
}

.SideBar ul {
  /* list-style: none;
  padding: 0;
  margin: 0; */
}

.SideBarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SideBarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.SideBarList .row:hover {
  background-color: #1a222c;
  cursor: pointer;
}

.SideBarList #active {
  color: #657f96;
}

.name {
  justify-content: right;
  display: flex;
}

/* Dashboard.css */

.Dashboard {
  display: flex;
  height: 100vh;
}

.Sidebar {
  width: 300px;
  background-color: #2f4050;
}

.Dashboard-stats {
  flex: 1;
  padding: 20px;
  /* background-color: #292929; */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: left;
}


.ChartContainer {
  margin-left: 20px; /* Adjust the margin based on your sidebar width */
  padding: 25px;
  
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: left;
}
